<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs/radio" routerDirection="back">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ 'MENU.REQUESTS' | translate }}</ion-title>
    </ion-toolbar>

    <ng-container *ngIf="requestsAreTaken$ | async as requestsAreTaken">
        <ion-toolbar
            [color]="requestsAreTaken.trueOrFalse ? 'gadha-hara' : 'kesariya'"
        >
            <ion-title text-wrap>
                {{requestsAreTaken.trueOrFalse ? requestsAreTaken.onMessage :
                requestsAreTaken.offMessage}}
            </ion-title>
        </ion-toolbar>
    </ng-container>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item
            *ngFor="let request of requests$ | async"
            (click)="itemSelected(request)"
        >
            {{ request.title }}
        </ion-item>
    </ion-list>

    <ng-container *ngIf="requestsAreTaken$ | async as requestsAreTaken">
        <ion-fab
            vertical="top"
            horizontal="end"
            slot="fixed"
            edge
            *ngIf="requestsAreTaken.trueOrFalse; else requestsAreOff"
        >
            <ion-fab-button color="dhola" (click)="presentRequestModal()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ng-template #requestsAreOff>
            <div
                *ngIf="!requestsAreTaken.trueOrFalse"
                class="screen-centered"
                color="light"
            >
                {{requestsAreTaken.offContent}}
            </div>
        </ng-template>
    </ng-container>
</ion-content>
