<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button
                routerLink="/tabs/entertainment"
                routerDirection="back"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ 'MENU.DICTIONARY' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
        <ion-fab-button color="light" (click)="handleAddWord()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <img
        src="assets/img/logo.png"
        class="background-img"
        alt="Radio Kasoot, Apni Boli Apne Geet"
    />

    <ng-container *ngIf="dictionary$ | async as container; else noDictionary">
        <h5
            class="ion-text-center"
            [ngClass]="{'animated flipInX delay-300ms': showAnimation}"
        >
            {{ 'DICTIONARY.WORD' | translate }}: {{ container?.word?.name }}
        </h5>
        <h5
            class="ion-text-center"
            [ngClass]="{'animated flipInX delay-300ms': showAnimation}"
        >
            {{ 'DICTIONARY.ENGLISH_MEANING' | translate }}: {{
            container?.word?.english }}
        </h5>
        <h5
            class="ion-text-center"
            [ngClass]="{'animated flipInX delay-300ms': showAnimation}"
        >
            {{ 'DICTIONARY.HINDI_MEANING' | translate }}: {{
            container?.word?.hindi }}
        </h5>
        <h5
            class="ion-text-center"
            [ngClass]="{'animated flipInX delay-300ms': showAnimation}"
        >
            {{ 'DICTIONARY.SIMILAR_WORDS' | translate }}: {{
            container?.word?.similar }}
        </h5>
        <h5
            class="ion-text-center"
            [ngClass]="{'animated flipInX delay-300ms': showAnimation}"
        >
            {{ 'DICTIONARY.EXAMPLE' | translate }}: {{ container?.word?.example
            }}
        </h5>
        <h4
            class="ion-text-center"
            [ngClass]="{'animated flipInX delay-1s': showAnimation}"
        >
            {{ container?.word?.username || 'Radio Kasoot'}}
        </h4>

        <ion-fab
            vertical="bottom"
            horizontal="start"
            *ngIf="container.previousWordKey"
        >
            <ion-fab-button
                color="kaala"
                (click)="previousWord(container.previousWordKey)"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-fab
            vertical="bottom"
            horizontal="end"
            *ngIf="container.nextWordKey"
        >
            <ion-fab-button
                color="kaala"
                (click)="nextWord(container.nextWordKey)"
            >
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-fab horizontal="center" vertical="bottom" *ngIf="!isNativeDevice">
            <ion-fab-button color="kaala" (click)="shareWord(container.word)">
                <ion-icon name="share-social"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

    <ng-template #noDictionary>
        <p
            class="ion-text-center"
            [ngClass]="{'animated flipInX delay-1s': showAnimation}"
        >
            😂😂😂😂
        </p>
    </ng-template>
</ion-content>
