<kasoot-header></kasoot-header>

<ion-content>
    <ion-list>
        <ion-item-divider sticky="true" class="animated flipInX delay-100ms">
            <ion-label>{{ 'MENU.INFO' | translate }}</ion-label>
        </ion-item-divider>

        <ion-item
            (click)="navigate('/tabs/entertainment/programs')"
            class="animated flipInX delay-200ms"
        >
            <ion-label>{{ 'MENU.PROGRAMS' | translate }}</ion-label>
            <ion-icon name="alarm" color="twitter" slot="end"></ion-icon>
        </ion-item>

        <ion-item
            (click)="navigate('/tabs/entertainment/weather')"
            class="animated flipInX delay-300ms"
        >
            <ion-label>{{ 'MENU.WEATHER' | translate }}</ion-label>
            <ion-icon name="rainy" color="youtube" slot="end"></ion-icon>
        </ion-item>

        <ion-item
            (click)="navigate('/tabs/entertainment/mandi')"
            class="animated flipInX delay-400ms"
        >
            <ion-label>{{ 'MENU.MANDI' | translate }}</ion-label>
            <ion-icon name="trending-up" color="kesariya" slot="end"></ion-icon>
        </ion-item>

        <ion-item-divider sticky="true" class="animated flipInX delay-500ms">
            <ion-label>{{ 'TABS.ENTERTAINMENT' | translate }}</ion-label>
        </ion-item-divider>

        <!-- <ion-item
            (click)="navigate('/tabs/entertainment/jokes')"
            class="animated flipInX delay-600ms"
        >
            <ion-label>{{ 'MENU.JOKES' | translate }}</ion-label>
            <ion-icon name="happy" color="hara" slot="end"></ion-icon>
        </ion-item>

        <ion-item
            (click)="navigate('/tabs/entertainment/proverbs')"
            class="animated flipInX delay-700ms"
        >
            <ion-label>{{ 'MENU.PROVERBS' | translate }}</ion-label>
            <ion-icon name="megaphone" color="facebook" slot="end"></ion-icon>
        </ion-item>

        <ion-item
            (click)="navigate('/tabs/entertainment/dictionary')"
            class="animated flipInX delay-800ms"
        >
            <ion-label>{{ 'MENU.DICTIONARY' | translate }}</ion-label>
            <ion-icon name="school" color="dark" slot="end"></ion-icon>
        </ion-item> -->

        <ion-item-divider sticky="true" class="animated flipInX delay-1s">
            <ion-label>{{ 'MENU.PEOPLE' | translate }}</ion-label>
        </ion-item-divider>

        <ion-item
            (click)="navigate('/tabs/entertainment/partners')"
            class="animated flipInX delay-1100ms"
        >
            <ion-label>{{ 'MENU.PARTNERS' | translate }}</ion-label>
            <ion-icon
                name="person-circle"
                color="facebook"
                slot="end"
            ></ion-icon>
        </ion-item>

        <ion-item
            (click)="navigate('/tabs/entertainment/team')"
            class="animated flipInX delay-1200ms"
        >
            <ion-label>{{ 'MENU.TEAM' | translate }}</ion-label>
            <ion-icon
                name="people-circle"
                color="twitter"
                slot="end"
            ></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
