<kasoot-header></kasoot-header>

<ion-content>
    <ion-list *ngIf="!!isNativeDevice">
        <ion-item-divider sticky="true" class="animated flipInX delay-100ms">
            <ion-label>{{ 'BUTTONS.SUPPORT_HEADER' | translate }}</ion-label>
        </ion-item-divider>

        <ion-item *ngIf="false" (click)="rate()" class="animated flipInX delay-200ms">
            <ion-label>{{ 'BUTTONS.SUPPORT_RATE' | translate }}</ion-label>
            <ion-icon name="star" color="googleplus" slot="end"></ion-icon>
        </ion-item>

        <ion-item (click)="sharePopup()" class="animated flipInX delay-300ms">
            <ion-label>{{ 'BUTTONS.SUPPORT_SHARE' | translate }}</ion-label>
            <ion-icon
                name="share-social"
                color="kesariya"
                slot="end"
            ></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item-divider sticky="true" class="animated flipInX delay-400ms">
            <ion-label
                >{{ 'BUTTONS.CONNECT_WITH_HEADER' | translate }}</ion-label
            >
        </ion-item-divider>

        <ion-item (click)="openFacebook()" class="animated flipInX delay-500ms">
            <ion-label
                >{{ 'BUTTONS.CONNECT_WITH_FACEBOOK' | translate }}</ion-label
            >
            <ion-icon
                name="logo-facebook"
                color="facebook"
                slot="end"
            ></ion-icon>
        </ion-item>

        <ion-item (click)="openTwitter()" class="animated flipInX delay-600ms">
            <ion-label
                >{{ 'BUTTONS.CONNECT_WITH_TWITTER' | translate }}</ion-label
            >
            <ion-icon name="logo-twitter" color="twitter" slot="end"></ion-icon>
        </ion-item>

        <ion-item
            (click)="openInstagram()"
            class="animated flipInX delay-700ms"
        >
            <ion-label
                >{{ 'BUTTONS.CONNECT_WITH_INSTAGRAM' | translate }}</ion-label
            >
            <ion-icon
                name="logo-instagram"
                color="instagram"
                slot="end"
            ></ion-icon>
        </ion-item>

        <ion-item
            (click)="openYoutubeSub()"
            class="animated flipInX delay-800ms"
        >
            <ion-label
                >{{ 'BUTTONS.CONNECT_WITH_YOUTUBE' | translate }}</ion-label
            >
            <ion-icon name="logo-youtube" color="youtube" slot="end"></ion-icon>
        </ion-item>

        <ion-item (click)="openNewsSite()" class="animated flipInX delay-900ms">
            <ion-label>{{ 'BUTTONS.CONNECT_WITH_NEWS' | translate }}</ion-label>
            <ion-icon name="newspaper" color="kesariya" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
