<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!native">
    <ion-item *ngIf="(user | async) === (false || null || undefined)" (click)="login()">
      <ion-label>Login With Facebook</ion-label>
      <ion-button slot="end">
        Login
      </ion-button>
    </ion-item>

    <ion-item *ngIf="user | async">
      <ion-avatar slot="start">
        <img [src]="(user | async)?.photoURL" alt="User avatar">
      </ion-avatar>
      <ion-notes>Logged in as <strong>{{(user | async)?.displayName}}</strong></ion-notes>
      <ion-button slot="end" color="danger" (click)="logout()">
        Logout
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Mandir Timing
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>
        <h2>MONDAY - FRIDAY</h2>
        <p>Morning 7.00AM to 11.00AM</p>
        <p>Afternoon 5.00PM to 8.00PM</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>SATURDAY</h2>
        <p>Morning 7.00AM to 11.00AM</p>
        <p>Afternoon 4.00PM to 8.00PM</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>SUNDAY</h2>
        <p>Morning 7.00AM to 11.00AM</p>
        <p>Afternoon 2.00PM to 8.00PM</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text>
      Hand Crafted with love 💓 by
      <a href="https://www.facebook.com/malikarun">Arun Malik</a>
    </ion-text>
    <ion-avatar slot="end">
      <a href="https://facebook.com/malikarun">
        <img src="../../../assets/arun.jpeg" alt="Arun Malik">
      </a>
    </ion-avatar>
  </ion-toolbar>
</ion-footer>
