$gadha-hara: #2ac9a7;
$kesariya: #ff7733;
$dhola: #ffffff;

.play-icon {
  font-size: 10vh;
  padding: 1rem 0;

  ion-icon {
    font-size: 1.4em;
  }
}

.song-title {
  font-size: 5vmin;
}

.bottom-grid {
  position: absolute;
  bottom: -1px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.stream-source {
  position: absolute;
  right: 10px;
}

.visualizer {
  background-color: var(--ion-color-hara);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 auto;
  animation: pulse 0.7s linear infinite;
}

// https://codepen.io/olam/pen/zcqea
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($gadha-hara, 0.3), 0 0 0 1em rgba($gadha-hara, 0.3),
      0 0 0 3em rgba($dhola, 0.3), 0 0 0 5em rgba($kesariya, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba($gadha-hara, 0.3), 0 0 0 3em rgba($dhola, 0.3),
      0 0 0 5em rgba($kesariya, 0.3), 0 0 0 8em rgba($kesariya, 0);
  }
}
