<kasoot-header></kasoot-header>

<ion-content>
    <ng-container *ngIf="player">
        <ion-grid>
            <ion-row>
                <ion-col
                    class="ion-text-center"
                    *ngFor="let stream of player.streams; let i = index"
                >
                    <ion-button
                        color="gadha-hara"
                        (click)="!isCurrentStream(stream) && selectStream(stream)"
                        size="small"
                        class="animated flipInX delay-{{i*500}}ms"
                        [fill]="isCurrentStream(stream) ? 'outline' : 'clear'"
                    >
                        {{stream.label}}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="ion-padding ion-text-center live-radio-player">
            <div
                class="play-icon animated flipInX delay-100ms"
                *ngIf="player.audioSrc"
            >
                <ion-icon
                    color="kaala"
                    name="{{ player.isPlaying ? 'pause' : 'play-circle'}}"
                    (click)="playPause(player.isPlaying)"
                >
                </ion-icon>
            </div>

            <div
                class="ion-text-center visualizer"
                *ngIf="player.isPlaying"
            ></div>

            <strong class="ion-padding song-title" color="kaala">
                {{ currentTime }} {{ player.songTitle }}
            </strong>
        </div>
    </ng-container>

    <div class="grid-content">
        <ion-grid class="bottom-grid">
            <ion-row>
                <ion-col
                    size="6"
                    class="ion-text-center"
                    (click)="navigate('/tabs/radio/youtube')"
                >
                    <div class="col-content">
                        <ion-icon
                            name="logo-youtube"
                            color="dhola"
                            class=" animated flipInX delay-500ms"
                        ></ion-icon>
                        <div
                            ion-text
                            color="dhola"
                            class="icon-text"
                            class=" animated flipInX delay-500ms"
                        >
                            <strong>{{ 'MENU.VIDEO' | translate }}</strong>
                        </div>
                    </div>
                </ion-col>

                <ion-col
                    size="6"
                    class="ion-text-center"
                    (click)="navigate('/tabs/radio/requests')"
                >
                    <div class="col-content">
                        <ion-icon
                            name="disc"
                            color="dhola"
                            class=" animated flipInX delay-500ms"
                        ></ion-icon>
                        <div
                            color="dhola"
                            class="icon-text"
                            class=" animated flipInX delay-500ms"
                        >
                            <strong>{{ 'MENU.REQUESTS' | translate }}</strong>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
