<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs/history" routerDirection="back">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{(writer | async)?.payload?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="albums | async as list; else noAlbums">
        <ion-item
            *ngFor="let album of list; let i = index"
            class="animated flipInX delay-{{(1+i)*100}}ms"
            (click)="navigateToSongs(album.key)"
        >
            <ion-label>
                <h2>{{ album?.payload?.title }}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

    <ng-template #noAlbums>
        <ion-item class="animated flipInX delay-100ms">
            {{ "HISTORY.NO_ALBUM" | translate }}
        </ion-item>
    </ng-template>
</ion-content>
