<ion-content [fullscreen]="true">
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Add Festival</ion-title>
	</ion-toolbar>

	<ion-list lines="full" class="ion-no-margin ion-no-padding">
		<ion-item>
			<ion-label position="floating">Festival Name</ion-label>
			<ion-input [(ngModel)]="item.name"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label position="floating">Festival Date and Time</ion-label>
			<ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="item.date"></ion-datetime>
		</ion-item>

		<ion-textarea placeholder="Enter any notes here..." [(ngModel)]="item.description">
		</ion-textarea>
	</ion-list>

	<div class="ion-padding" (click)="processForm()">
		<ion-button expand="block" type="button" class="ion-no-margin">Create Festival</ion-button>
	</div>
</ion-content>
