<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon name="close-circle" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Poori Raagni</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p class="animated slideInDown delay-100ms">{{ song?.payload?.title }}</p>
    <p
        class="animated slideInUp delay-100ms"
        [innerHTML]="song?.payload?.content"
    ></p>
</ion-content>
