<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>{{ (album | async)?.payload?.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="songs | async as list; else noSongs">
        <ion-item
            *ngFor="let song of list; let i = index"
            class="animated flipInX delay-{{(1+i)*100}}ms"
            (click)="presentSongModal(song)">
            <ion-label>
                <h2>{{ song?.payload?.title }}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

    <ng-template #noSongs>
        <ion-item *ngIf="songs | async">
            {{ "HISTORY.NO_SONG" | translate }}
        </ion-item>
    </ng-template>
</ion-content>
