<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button
                routerLink="/tabs/entertainment"
                routerDirection="back"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ 'MENU.PARTNERS' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item
            text-wrap
            *ngFor="let partner of partners$ | async; let i = index"
            class="animated flipInX delay-{{(1+i)*100}}ms"
            (click)="openInBrowser(partner.websiteUrl)"
        >
            <ion-avatar slot="start">
                <img
                    [src]="partner.photo_url | safeUrl"
                    alt="Radio Kasoot, Apni Boli Apne Geet"
                />
            </ion-avatar>

            <ion-label>
                <h2>{{ partner.name }}</h2>
                <p>{{ partner.websiteUrl }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
