<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button
                routerLink="/tabs/entertainment"
                routerDirection="back"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ 'MENU.JOKES' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
        <ion-fab-button color="dhola" (click)="handleAddJoke()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <img
        src="assets/img/logo.png"
        class="background-img"
        alt="Radio Kasoot, Apni Boli Apne Geet"
    />

    <ng-container *ngIf="container$ | async as container; else noJoke">
        <h5
            class="ion-text-center"
            [innerHTML]="container?.joke?.title"
            [ngClass]="{'animated fadeInDown delay-100ms': showAnimation}"
        ></h5>

        <h4
            class="ion-text-center"
            [ngClass]="{'animated fadeInUp delay-1s': showAnimation}"
        >
            {{ container?.joke?.username || 'Radio Kasoot'}}
        </h4>

        <ion-fab
            vertical="bottom"
            horizontal="start"
            *ngIf="container.previousJokeKey"
        >
            <ion-fab-button
                color="kaala"
                (click)="previousJoke(container.previousJokeKey)"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-fab
            vertical="bottom"
            horizontal="end"
            *ngIf="container.nextJokeKey"
        >
            <ion-fab-button
                color="kaala"
                (click)="nextJoke(container.nextJokeKey)"
            >
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-fab vertical="bottom" horizontal="center" *ngIf="isNativeDevice">
            <ion-fab-button color="kaala" (click)="shareJoke(container.joke)">
                <ion-icon name="share-social"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

    <!-- if there is no joke -->
    <ng-template #noJoke>
        <div class="ion-text-center">😂😂😂😂</div>
    </ng-template>
</ion-content>
