<kasoot-header></kasoot-header>

<ion-content>
    <ion-list>
        <ion-item
            *ngFor="let writer of writers | async; let i = index"
            class="animated flipInX delay-{{(1+i)*100}}ms"
        >
            <ion-avatar slot="start">
                <img src="assets/img/icon.png" />
            </ion-avatar>

            <ion-label>
                <h2>{{ writer.payload.name }}</h2>
            </ion-label>

            <ion-button
                color="kesariya"
                (click)="navigate(writer.key, 'albums')"
            >
                {{ 'BUTTONS.KISSE' | translate }}
            </ion-button>

            <ion-button
                color="gadha-hara"
                (click)="navigate(writer.key, 'poems')"
            >
                {{ 'BUTTONS.POEMS' | translate }}
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
