:host {
	.images {
		display: flex;
	}

	img {
		width: 100%;
		max-height: 40vh;

		&.image-two {
			display: none;
		}
	}

	a {
		text-decoration: none;
	}

	@media (orientation:landscape) {
		img {
			width: 50%;

			&.image-one {
				padding-right: 2px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			&.image-two {
				display: inline-block;
				padding-left: 2px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}
	 }
}