<ion-content [fullscreen]="true">
  <div class="images">
    <img class="image-one" src="https://images.sadhguru.org/sites/default/files/media_files/61353-why-were-temples-built.jpg" alt="info-page-photo">

    <img class="image-two" src="https://cdn.britannica.com/80/142580-050-7D825033/Jagannatha-temple-Puri-Odisha-India.jpg" alt="info-page-photo">
  </div>

  <ion-card-header>
    <ion-card-title>Laxmi Narayan Mandir</ion-card-title>
    <ion-card-subtitle>
      Address:
      <a href="http://maps.google.com/?q=46 Daymar Street, Burbank QLD 4156">46 Daymar Street, Burbank QLD 4156</a>
    </ion-card-subtitle>
    <ion-card-subtitle>
      Postal Address: PO Box 2211
      Mansfield Delivery Centre
      Mansfield, QLD 4122
    </ion-card-subtitle>
    <ion-card-subtitle>
      Phone: <a href="tel:+0732168848">0732168848</a>
    </ion-card-subtitle>
    <ion-card-subtitle>
      Email: <a href="mailto:info@shreelaxminarayanmandir.com.au">info@shreelaxminarayanmandir.com.au</a>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <h2>HISTORY</h2>

    <h4><strong>SOCIETY FOR THE PROMOTION OF HINDU CULTURE – BRISBANE</strong></h4>

    <p>
      No matter where Hindus are, it is a statement of fact that they would ensure there is continuity of our culture, tradition, rites and rituals. With this in view, some very talented and visionary members of our community formed Society for the Promotion of Hindu Culture in Brisbane in 1979. In those days the Hindu population was small – however, this association served the various needs of the community then.
    </p>

    <br/>

    <p>
      The foresightedness of this association saw the need for a firm legal footing for the Society. In the mean time Hindus from other parts of the world were also migrating to Australia. To more clearly depict the operations of the association, its name was changed to Hindu Religion and Mandir Association (HRMA) which formally adopted its first constitution in August 1984. At this stage the association was not an Incorporated body.
    </p>

    <br/>

    <h4><strong>FOR A MANDIR SITE</strong></h4>
    <p>
      The HRMA committee spent many hours and developed a check list (criteria) of the basic requirements they were looking for in a property. Several sites were seen but rejected due to the selected criteria.
    </p>

    <br/>

    <p>
      Finally, the current site was chosen and seven families formed a trust to secure the same in 1990 with a deposit of around $32,000.
    </p>

    <br/>

    <h4><strong>INCORPORATED ASSOCIATION AND NAME CHANGE</strong></h4>
    <p>
      As a real property was being acquired and to safe guard the liability of individuals, ensuring that accountability was paramount, an incorporated body was formed. A name change was inevitable due to certain legal requirement and hence the name – “Hindu Mandir Association of Qld Incorporation”.
    </p>

    <br/>

    <p>
      Our temple was constructed in 1998 and limited programs were held until arrival of Pt Shastri Ji.
    </p>

    <br/>

    <p>
      The Temple has been operating since the installation of the deities in April 2004. Initially with the guidance of our first priest Pt. Shastri Ji the deities were installed. Pt. Ram Harsh Tripathi Ji served the temple for 8 years until April 2013. The current priest at the Temple is Pt. Sh Raman Sharma ji & Pt. Sh Anil Sharmaji . They are contactable on 07 3216 8848 for all your Pooja requirements.
    </p>

    <br/>

    <p>
      The 1st newsletter for 2011 found on this Website clearly depicts the various projects on hand.
    </p>
  </ion-card-content>
</ion-content>
