<kasoot-header></kasoot-header>

<ion-content>
    <!-- <ion-item-divider class="animated flipInX delay-100ms">
        <ion-label>{{ 'PROFILE' | translate }}</ion-label>
    </ion-item-divider>

    <ion-list *ngIf="auth && auth.loggedIn; else noAuth" lines="none">
        <ion-item class="animated flipInX delay-200ms">
            <ion-avatar slot="start">
                <img [src]="auth.avatarUrl" />
            </ion-avatar>

            <ion-label>
                <h2>{{ auth.displayName }}</h2>
                <p>{{ 'BUTTONS.LOGGED_IN' | translate }}</p>
            </ion-label>

            <ion-button slot="end" color="kesariya" (click)="logout()">
                {{ 'BUTTONS.LOGOUT' | translate }}
            </ion-button>
        </ion-item>
    </ion-list>

    <ng-template #noAuth>
        <ion-list lines="none">
            <ion-item class="animated flipInX delay-300ms">
                <ion-label text-wrap>
                    {{ 'BUTTONS.NOT_LOGGED_IN' | translate }}
                </ion-label>
                <ion-button
                    slot="end"
                    color="facebook"
                    (click)="facebookLogin()"
                >
                    {{ 'BUTTONS.LOGIN' | translate }}
                </ion-button>
            </ion-item>
        </ion-list>
    </ng-template> -->

    <ion-list lines="none">
        <ion-item-divider class="animated flipInX delay-400ms">
            <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
        </ion-item-divider>

        <ion-item
            (click)="selectLanguage()"
            class="animated flipInX delay-500ms"
        >
            <ion-icon name="globe" slot="start"></ion-icon>
            {{ 'LANGUAGE' | translate }}

            <ion-note slot="end" *ngIf="!!currentLang">
                {{currentLang.label}}
            </ion-note>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="isNativeDevice" lines="none">
        <ion-item-divider class="animated flipInX delay-600ms">
            <ion-label>{{ 'PLAYER' | translate }}</ion-label>
        </ion-item-divider>

        <ion-item (click)="selectPlayer()" class="animated flipInX delay-700ms">
            <ion-icon name="play-circle" slot="start"></ion-icon>
            {{ 'PLAYER' | translate }}

            <ion-note slot="end" *ngIf="!!currentPlayer">
                {{currentPlayer.label}}
            </ion-note>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item-divider class="animated flipInX delay-800ms">
            <ion-label>{{ 'BUTTONS.CONTACT_US_HEADER' | translate }}</ion-label>
        </ion-item-divider>

        <ion-item (click)="visitWebsite()" class="animated flipInX delay-900ms">
            {{ 'BUTTONS.CONTACT_US_WEBSITE' | translate }}
            <ion-icon name="globe" color="facebook" slot="end"></ion-icon>
        </ion-item>

        <ion-item (click)="openEmail()" class="animated flipInX delay-1s">
            {{ 'BUTTONS.CONTACT_US_EMAIL' | translate }}
            <ion-icon name="mail" color="twitter" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
