<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button
                routerLink="/tabs/entertainment"
                routerDirection="back"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ 'MENU.BLOG' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <img
        src="assets/img/logo.png"
        class="background-img"
        alt="Radio Kasoot, Apni Boli Apne Geet"
    />

    <ng-container *ngIf="post$ | async as post">
        <h2>{{ post.items[0].title }}</h2>
        <p [innerHTML]="post.items[0].content"></p>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button
                color="kaala"
                (click)="getNextPost(post.nextPageToken)"
            >
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>
</ion-content>
