<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button
                routerLink="/tabs/entertainment"
                routerDirection="back"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            {{ 'MENU.PROVERBS' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
        <ion-fab-button color="dhola" (click)="handleAddProverb()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <img
        src="assets/img/logo.png"
        class="background-img"
        alt="Radio Kasoot, Apni Boli Apne Geet"
    />

    <ng-container *ngIf="container$ | async as container; else noProverb">
        <h5
            class="ion-text-center"
            [innerHTML]="container?.proverb?.title"
            [ngClass]="{'animated fadeInDown delay-100ms': showAnimation}"
        ></h5>

        <h5
            class="ion-text-center"
            [innerHTML]="container?.proverb?.meaning"
            [ngClass]="{'animated fadeInDown delay-100ms': showAnimation}"
        ></h5>

        <h4
            class="ion-text-center"
            [ngClass]="{'animated fadeInUp delay-1s': showAnimation}"
        >
            {{ container?.proverb?.username || 'Radio Kasoot'}}
        </h4>

        <ion-fab
            vertical="bottom"
            horizontal="start"
            *ngIf="container.previousProverbKey"
        >
            <ion-fab-button
                color="kaala"
                (click)="previousProverb(container.previousProverbKey)"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-fab
            vertical="bottom"
            horizontal="end"
            *ngIf="container.nextProverbKey"
        >
            <ion-fab-button
                color="kaala"
                (click)="nextProverb(container.nextProverbKey)"
            >
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-fab vertical="bottom" horizontal="center" *ngIf="isNativeDevice">
            <ion-fab-button
                color="kaala"
                (click)="shareProverb(container.proverb)"
            >
                <ion-icon name="share-social"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

    <!-- if there is no proverb -->
    <ng-template #noProverb>
        <div class="ion-text-center">😂😂😂😂</div>
    </ng-template>
</ion-content>
