ion-tabs {
  ion-tab-bar {
    height: 10vh;
    font-size: 2vh;

    ion-tab-button {
      // color: var(--ion-color-gadha-hara);

      // &.tab-selected {
      //     color: var(--ion-color-dhola);
      // }

      ion-icon {
        font-size: 4vh;
        height: 5vh;
      }

      ion-label {
        margin-top: 4px;
      }
    }
  }
}
