<ion-tabs>
    <ion-tab-bar slot="bottom" color="feeka-hara">
        <ion-tab-button tab="radio" class="animated flipInX delay-1s">
            <ion-icon name="radio"></ion-icon>
            <ion-label>{{ 'TABS.RADIO' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="entertainment" class="animated flipInX delay-1s">
            <ion-icon name="apps"></ion-icon>
            <ion-label>{{ 'TABS.ENTERTAINMENT' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="history" class="animated flipInX delay-1s">
            <ion-icon name="play-back"></ion-icon>
            <ion-label>{{ 'TABS.HISTORY' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="social" class="animated flipInX delay-1s">
            <ion-icon name="people"></ion-icon>
            <ion-label>{{ 'TABS.SOCIAL' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings" class="animated flipInX delay-1s">
            <ion-icon name="cog"></ion-icon>
            <ion-label>{{ 'TABS.SETTINGS' | translate }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
