<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button color="dhola" (click)="dismiss()">
                <ion-icon name="close-circle" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ 'PROVERBS.NEW' | translate }}</ion-title>

        <ion-buttons slot="end">
            <ion-button color="dhola" (click)="dismiss()">
                {{ 'PROVERBS.CANCEL' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="proverb">
        <ion-item>
            <ion-label position="floating"
                >{{ 'PROVERBS.TITLE' | translate }}</ion-label
            >
            <ion-input name="title" [(ngModel)]="proverb.title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating"
                >{{ 'PROVERBS.MEANING' | translate }}</ion-label
            >
            <ion-input name="meaning" [(ngModel)]="proverb.meaning"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                {{ 'PROVERBS.USERNAME' | translate }}
            </ion-label>

            <ion-input
                name="username"
                disabled="true"
                [(ngModel)]="proverb.username"
            ></ion-input>
        </ion-item>

        <ion-fab verticle="bottom" horizontal="end">
            <ion-fab-button (click)="saveProverb()">
                <ion-icon name="send"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>
</ion-content>
