<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs/radio" routerDirection="back">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ 'MENU.VIDEO' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="youtube$ | async as youtube">
    <ion-grid>
        <ion-row>
            <ion-col
                size="12"
                size-xs="12"
                size-sm="6"
                size-lg="4"
                *ngFor="let post of youtube.items; let i = index"
                class="animated flipInX delay-{{(1+i)*100}}ms"
            >
                <ion-card>
                    <img
                        [src]="post.snippet.thumbnails.high.url"
                        (click)="playVideo(post)"
                        alt="Radio Kasoot, Apni Boli Apne Geet"
                    />

                    <ion-item>
                        <ion-label>
                            <h2 ion-text text-wrap>
                                {{ post?.snippet?.title }}
                            </h2>
                        </ion-label>
                    </ion-item>

                    <ion-fab class="youtube-fab" *ngIf="isNativeDevice">
                        <ion-fab-button (click)="shareVideo(post)">
                            <ion-icon name="share-social"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll
        (ionInfinite)="loadMore($event, youtube.nextPageToken)"
    >
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
