@for $i from 1 through 30 {
  .delay-#{$i*100}ms {
    animation-delay: #{$i * 100}ms;
  }

  .delay-#{$i*10}ms {
    animation-delay: #{$i * 10}ms;
  }

  .delay-#{$i}s {
    animation-delay: #{$i}s;
  }
}
