ion-buttons {
  .button-inner {
    font-size: 2rem;
  }
}

ion-buttons.large-icon {
  .button-inner {
    font-size: 3rem;
  }
}

.grid-content {
  color: var(--ion-color-dhola);

  ion-grid,
  ion-row {
    padding: 0;
  }

  ion-row > ion-col {
    background: var(--ion-color-hara);
    border: 1px solid white;
    height: 24.7vh;
  }

  ion-row > ion-col > .col-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ion-row > ion-col ion-icon {
    font-size: 7vh;
  }

  ion-row > ion-col .icon-text {
    font-size: 5vmin;
  }

  ion-item-divider .label {
    margin: 8px 0;
  }
}

.background-img {
  width: 75vmin;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.screen-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-grid {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.large-middle-icon {
  ion-icon {
    font-size: 10em;
  }
}
