ion-header {
  ion-toolbar {
    --background: var(--ion-color-kesariya);
  }

  .logo {
    display: flex;
    justify-content: space-between;
    height: 10vh;

    img {
      margin: 1vh 0 0 1vh;
      height: 8vh;
    }

    .header-title,
    ion-icon {
      line-height: 10vh;
    }

    .header-title {
      font-size: 3vh;
    }

    ion-icon {
      font-size: 5vh;
      padding: 4vmin 2vmin;
    }
  }

  .subheader {
    --min-height: 4vh;
    font-size: 4vmin;
    text-align: center;
  }
}
