// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** kesariya **/
  --ion-color-kesariya: #ff7733;
  --ion-color-kesariya-rgb: 255, 119, 51;
  --ion-color-kesariya-contrast: #ffffff;
  --ion-color-kesariya-contrast-rgb: 255, 255, 255;
  --ion-color-kesariya-shade: #e0692d;
  --ion-color-kesariya-tint: #ff8547;

  /** hara **/
  --ion-color-hara: #45b39a;
  --ion-color-hara-rgb: 69, 179, 154;
  --ion-color-hara-contrast: #000000;
  --ion-color-hara-contrast-rgb: 0, 0, 0;
  --ion-color-hara-shade: #3d9e88;
  --ion-color-hara-tint: #58bba4;

  /** gadha-hara **/
  --ion-color-gadha-hara: #3d9985;
  --ion-color-gadha-hara-rgb: 61, 153, 133;
  --ion-color-gadha-hara-contrast: #ffffff;
  --ion-color-gadha-hara-contrast-rgb: 255, 255, 255;
  --ion-color-gadha-hara-shade: #368775;
  --ion-color-gadha-hara-tint: #50a391;

  /** feeka-hara **/
  --ion-color-feeka-hara: #2ac9a7;
  --ion-color-feeka-hara-rgb: 42, 201, 167;
  --ion-color-feeka-hara-contrast: #ffffff;
  --ion-color-feeka-hara-contrast-rgb: 255, 255, 255;
  --ion-color-feeka-hara-shade: #25b193;
  --ion-color-feeka-hara-tint: #3fceb0;

  /** kaala **/
  --ion-color-kaala: #4a4e4d;
  --ion-color-kaala-rgb: 74, 78, 77;
  --ion-color-kaala-contrast: #ffffff;
  --ion-color-kaala-contrast-rgb: 255, 255, 255;
  --ion-color-kaala-shade: #414544;
  --ion-color-kaala-tint: #5c605f;

  /** dhola **/
  --ion-color-dhola: #ffffff;
  --ion-color-dhola-rgb: 255, 255, 255;
  --ion-color-dhola-contrast: #000000;
  --ion-color-dhola-contrast-rgb: 0, 0, 0;
  --ion-color-dhola-shade: #e0e0e0;
  --ion-color-dhola-tint: #ffffff;

  /** facebook **/
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59, 89, 152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  /** twitter **/
  --ion-color-twitter: #1da1f2;
  --ion-color-twitter-rgb: 29, 161, 242;
  --ion-color-twitter-contrast: #000000;
  --ion-color-twitter-contrast-rgb: 0, 0, 0;
  --ion-color-twitter-shade: #1a8ed5;
  --ion-color-twitter-tint: #34aaf3;

  /** instagram **/
  --ion-color-instagram: #262626;
  --ion-color-instagram-rgb: 38, 38, 38;
  --ion-color-instagram-contrast: #ffffff;
  --ion-color-instagram-contrast-rgb: 255, 255, 255;
  --ion-color-instagram-shade: #212121;
  --ion-color-instagram-tint: #3c3c3c;

  /** googleplus **/
  --ion-color-googleplus: #db4437;
  --ion-color-googleplus-rgb: 219, 68, 55;
  --ion-color-googleplus-contrast: #ffffff;
  --ion-color-googleplus-contrast-rgb: 255, 255, 255;
  --ion-color-googleplus-shade: #c13c30;
  --ion-color-googleplus-tint: #df574b;

  /** youtube **/
  --ion-color-youtube: #ff0000;
  --ion-color-youtube-rgb: 255, 0, 0;
  --ion-color-youtube-contrast: #ffffff;
  --ion-color-youtube-contrast-rgb: 255, 255, 255;
  --ion-color-youtube-shade: #e00000;
  --ion-color-youtube-tint: #ff1a1a;
}

$color-list: kesariya gadha-hara feeka-hara hara kaala dhola facebook twitter
  instagram googleplus youtube;

@each $color in $color-list {
  .ion-color-#{$color} {
    --ion-color-base: var(--ion-color-#{$color});
    --ion-color-base-rgb: var(--ion-color-#{$color}-rgb);
    --ion-color-contrast: var(--ion-color-#{$color}-contrast);
    --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb);
    --ion-color-shade: var(--ion-color-#{$color}-shade);
    --ion-color-tint: var(--ion-color-#{$color}-tint);
  }
}
