<ion-header>
  <ion-toolbar color="kesariya">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/history" routerDirection="back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{(writer | async)?.payload?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="poems | async as list; else noPoem">
    <ion-item
      *ngFor="let poem of list; let i = index"
      class="animated flipInX delay-{{(1+i)*100}}ms"
      (click)="presentPoemModal(poem)"
    >
      <ion-label>
        <h2>{{ poem?.payload?.title }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noPoem>
    <ion-item class="animated flipInX delay-100ms">
      {{ "HISTORY.NO_POEM" | translate }}
    </ion-item>
  </ng-template>
</ion-content>
