$skyblue: skyblue;
$indigo: #7c4dff;

ion-content {
  .day,
  .night {
    padding: 25px;
    height: 100%;
    color: white;
  }

  .day {
    background: darken($skyblue, 15%);
  }

  .night {
    background: lighten($indigo, 10%);
  }

  .temperature {
    font-size: 75px;
  }

  .weather-icon {
    position: absolute;
    right: 25px;
    top: 25px;

    img {
      height: 100px;
      width: 100px;
    }
  }

  .clearfix::after {
    content: '';
    clear: both;
    display: table;
  }

  .weather-text {
    padding-top: 15px;
  }
}
