<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button
                routerLink="/tabs/entertainment"
                routerDirection="back"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ 'MENU.WEATHER' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [class]="isDayTime ? 'day' : 'night'">
        <div *ngIf="!isLoading; else notLoaded">
            <div *ngIf="!locationError; else error">
                <div class="weather-icon">
                    <img
                        [src]="getIcon()"
                        alt="Weather Icon"
                        *ngIf="!!getIcon()"
                    />
                </div>

                <div class="temperature">21&deg;C</div>

                <div class="weather-text">
                    <h3>{{ weatherData?.info?.title }}</h3>
                </div>

                <div class="weather-text">
                    <div>{{ weatherData?.info?.description }}</div>
                </div>
            </div>
        </div>

        <ng-template #notLoaded>
            <div class="screen-centered" color="light">
                {{ 'WEATHER.IS_LOADING' | translate}}
            </div>
        </ng-template>

        <ng-template #error>
            <div class="screen-centered" color="light">
                {{ 'WEATHER.LOCATION_ERROR' | translate}}
            </div>
        </ng-template>
    </div>
</ion-content>
