<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Events</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge  *ngIf="isAdmin | async" (click)="presentModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding *ngFor="let item of (items | async)">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>{{item.name}}</h2>
          <h3>{{showDate(item.date)}}</h3>
          <p *ngIf="item.description">
            {{item.description}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end" *ngIf="isAdmin | async">
        <ion-item-option (click)="presentModal(item)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
