<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button
                routerLink="/tabs/entertainment"
                routerDirection="back"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            {{ 'MENU.PROGRAMS' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item
            *ngFor="let program of programs$ | async; let i = index"
            class="animated flipInX delay-{{(1+i)*100}}ms"
        >
            <ion-thumbnail slot="start">
                <img src="assets/img/icon.png" />
            </ion-thumbnail>

            <ion-label class="ion-text-wrap">
                <h4>{{ program.title }}</h4>
                <ion-text>{{ program.time }}</ion-text>
                <br/>
                <ion-text>{{ 'PROGRAMS.INFO' | translate }}: {{ program.description }}</ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
