<ion-header>
    <ion-toolbar color="kesariya">
        <ion-buttons slot="start">
            <ion-button
                routerLink="/tabs/entertainment"
                routerDirection="back"
            >
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ 'MENU.MANDI' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item
            *ngFor="let group of groups$ | async | keyvalue; let i = index"
            class="animated flipInX delay-{{(1+i)*10}}ms"
            (click)="presentMandiDetailsModal(group.value, group.key)"
        >
            <ion-label>{{ group.key }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
